.about-wrapper {
  background: white;
  margin: auto;
  /* -webkit-box-shadow: 0px 0px 2px 2px #ccc; */
  padding-bottom: 20px;
  border-bottom: 3px solid black;
}

.about-wrapper h1 {
  margin: 0 0 10px 20px;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: Source Sans Pro;
}

.about-section {
  font-size: 23px;
  font-family: Source Sans Pro;
  width: 80%;
  margin: auto;
}

.about-section a {
  text-decoration: none;
}

@media screen and (max-width: 1044px) {
  .about-wrapper {
    max-width: 100vw;
  }
}

@media screen and (min-width: 1045) {
  .about-wrapper {
    max-width: calc(100vw - 18em);
  }
}
