@import url('Sidebar.css');
@import url('Headshot.css');
@import url('Welcome.css');
@import url('Skills.css');
@import url('Projects.css');
@import url('Buttons.css');
@import url('About.css');
@import url('Contact.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  background-image: url("../full-bloom.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.main-content {
  margin-left: 23em;
}
