.contact-wrapper {
  background: white;
  margin: auto;
  padding-bottom: 20px;
  /* -webkit-box-shadow: 0px 0px 2px 2px #ccc; */
  /* margin-bottom: 20px; */
}

.contact-wrapper h1 {
  margin: 0 0 10px 20px;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: Source Sans Pro;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
}

.contact-info-phone, .contact-info-email {
  display: flex;
  align-items: center;
}

.contact-info-phone img, .contact-info-email img {
  margin-right: 5px;
}

.gh-icon, .li-icon {
  transition: 0.3s ease;
}

.gh-icon:hover, .li-icon:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

@media screen and (max-width: 1044px) {
  .contact-wrapper {
    max-width: 100vw;
  }
}

@media screen and (min-width: 1045) {
  .contact-wrapper {
    max-width: calc(100vw - 18em);
  }
}
