.projects-wrapper {
  max-width: calc(100vw - 18em);
  background: white;
  margin: auto;
  /* -webkit-box-shadow: 0px 0px 2px 2px #ccc; */
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}

.projects-wrapper h1 {
  margin-left: 0 0 0 20px;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: Source Sans Pro;
}

.projects {
  background: white;
}

.project-wrapper h2 a {
  text-decoration: none;
  color: gray;
}

.project-wrapper h2 a:hover {
  text-decoration: underline;
  color: black;
}

.project-wrapper {
  height: 300px;
  border-bottom: 1px solid black;
}

.project {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.project-image {
  height: 100%;
  width: auto;
  max-width: 50%;
}

.project-info {
  display: flex;
  align-items: center;
  background-color: #d6d6d6;
  padding: 0 20px 0 20px;
  height: 100%;
}

.project-info section {
  font-size: 22px;
}

.project-wrapper section {
  margin-bottom: 15px;
}

#last-project-wrapper {
  border-bottom: none;
}
