.projects-wrapper {
  background: white;
  margin: auto;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  padding-top: 15px;
}

.projects-wrapper h1 {
  margin: 0 0 10px 20px;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: Source Sans Pro;
}

.projects {
  background: white;
}

.project-wrapper h2 {
  text-align: center;
  color: black;
}

.project-wrapper {
  border-bottom: 2px dashed black;
}

.project {
  display: flex;
}

.project-image-wrapper {
  height: 100%;
}

.project-image {
  width: 100%;
  height: auto;
}

.project {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  background: #d6d6d6;
}

.project-info {
  display: flex;
  align-items: center;
  padding: 15px 20px 0 20px;
  height: 100%;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.project-info section {
  font-size: 22px;
}

.project-wrapper section {
  margin-bottom: 15px;
}

.last-project-wrapper {
  border-bottom: none;
}

@media screen and (max-width: 1044px) {
  .projects-wrapper {
    max-width: 100vw;
  }

  .project-info {
    max-width: 90%;
    margin: auto;
    height: 100%;
  }

  .project {
    flex-direction: column;
  }
}

@media screen and (min-width: 1045) {
  .projects-wrapper {
    max-width: calc(100vw - 18em);
  }

  .project {
    flex-direction: row;
  }
}
