#sidebar {
  padding: 2.5em 2.5em 0.5em 2.5em;
  background: #3630b5;
  cursor: default;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  text-align: right;
  top: 0;
  width: 18em;
  z-index: 10000;
  display: block;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  height: 100vh;
}

#sidebar nav a {
  transition: color 0.2s ease;
  color: #A599B1;
  border: 0;
  border-bottom: 3px solid gray;
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.25em;
  line-height: 1.75;
  outline: 0;
  padding: 1.35em 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  font: inherit;
  vertical-align: baseline;
  cursor: pointer;
}

#sidebar nav a:active {
  color: white;
  border-bottom: 3px solid linear-gradient(red, yellow);
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(0);
  transition: opacity 1s ease;
  min-height: 100%;
  opacity: 1;
  width: 100%;
}
