.skills-wrapper {
  max-width: calc(100vw - 18em);
  background: white;
  margin: auto;
  -webkit-box-shadow: 0px 0px 2px 2px #ccc;
}

.skills {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  height: 100%;
  flex-wrap: wrap;
  padding: 15px;
  background: white;
}

.devicon {
  width: 100px;
  height: auto;
  margin: 4px;
}

.skills-wrapper h1 {
  margin-left: 20px;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: Source Sans Pro;
}
