@import url('Sidebar.css');
@import url('Header.css');
@import url('NavBar.css');
@import url('Headshot.css');
@import url('Welcome.css');
@import url('Skills.css');
@import url('Projects.css');
@import url('Buttons.css');
@import url('About.css');
@import url('Contact.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body, .navigation {
  background-image: url("../full-bloom.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

footer {
  text-align: center;
  margin-top: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.main-content {
  margin-left: 23em;
}

@media screen and (max-width: 1044px) {
  .main-content {
    margin-left: 0;
    margin-top: 60px;
  }

  .navigation {
    position: fixed;
  }

  .headshot {
    display: none;
  }

  h1::before {
    display: block;
    content: " ";
    margin-top: -90px;
    height: 90px;
    visibility: hidden;
    pointer-events: none;
  }
}

@media screen and (min-width: 1045px) {
  .menulist {
    display: none;
  }
}
