@media screen and (max-width: 1044px) {

  .navigation {
    width: 100%;
    z-index: 1;
    top: 74px;
    left: 0;
    background-color: darkgray;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
    height: 0;
  }

  .navigation.active {
    height: 325px;
  }

  .navigation a {
    text-decoration: none;
  }

  .navigation ul {
    text-align: center;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
  }

  .menulist {
    padding: 0;
    width: 80%;
  }

  .line1, .line2, .line3 {
    margin-top: 5px;
    background-color: #fff;
    width: 25px;
    height: 3px;
    display: block;
    position: relative;
    opacity: 1.0;
    border-radius: 15%;
    transition: all .3s;
  }

  .line1.active {
    transform: rotate(270deg);
    opacity: 0.0;
    background-color: yellow;
    top: 5px;
  }

  .line2.active {
    transform: rotate(45deg);
    background-color: yellow;
  }

  .line3.active {
    transform: rotate(-45deg);
    background-color: yellow;
    top: -7px;
  }

  .menuitems {
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    list-style: none;
    font-family: "Questrial", sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 24px;
    color: black;
    display: inline-block;
    position: relative;
    text-align: center;
    transition: all .3s ease-in-out;
  }

  .menuitems:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #fff;
    transition: width .2s;
  }

  .menuitems:hover::after {
    width: 100%;
  }

  #closebtn {
    height: 25px;
    width: 25px;
    position: fixed;
    text-decoration: none;
    top: 22px;
    left: 25px;
    font-size: 36px !important;
    margin-right: 50px;
    z-index: 100;
    color: #fff;
    cursor: pointer;
    transition: background-position .3s;
  }

  .main-content {
    transition: margin-top .4s;
    margin: auto;
  }
}
